body {
    max-width: 1000px;
    min-width: 320px;
    padding: 1rem;
    height: 100%;
    margin: 0;
    display: block;
}

.header-bar {
    background-color: black;
    height: 5vh;
    margin-bottom: 2vh;
}

.outline-light {
    margin-left: 1vw;
}

.info {
    margin-right: 1vw;
}

.container-fluid {
    width: 50% !important;
    display: block;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center !important;
    display: block;
}

body {font-size: 100%}

h1 {
    font-size: 3em;
}

@media screen and (max-width: 64em) {
    h1 {
        font-size: 2.5em;
    }

    body {
        font-size: 90%;
    }

    .small-text {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 50em) {
    h1 {
        font-size: 2em;
    }
    body {
        font-size: 75%;
    }

    .small-text {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 30em){
    h1 {
        font-size: 1.5em;
    }

    body {
        font-size: 50%;
    }

    .small-text {
        font-size: 0.8em;
    }
}

.title {
    text-align: center;
}

.container {
    display: block;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
}

.submit-button, .backButton {
    margin-bottom: 5vh;
}

.backButton {
    margin-left: 1vw;
}

.dropDown {
    width: 20vw !important;
    margin: 3vh 0 3vh 0 !important;
}

.update-button {
    margin-right: 1vw !important;
}
